[submodule "NearX/lib/forge-std"]
	path = NearX/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NearX/lib/openzeppelin-contracts"]
	path = NearX/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
